@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Authority.authority1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Authority.authority1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            <img src="@item.photo" width="75" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
